<label for="quick-add-dropdown" class="sr-only"
  >Select a field or operator</label
>
<select id="quick-add-dropdown" class="quick-add-dropdown">
  <optgroup label="fields">
    <option value="abs">abstract</option>
    <option value="abstract">abstract only</option>
    <option value="ack">acknowledgements</option>
    <option value="aff">affiliation</option>
    <option value="aff_canonical">affiliation canonical</option>
    <option value="aff_id">affiliation ID</option>
    <option value="affil">affil</option>
    <option value="alternate_bibcode">alternate bibcode</option>
    <option value="alternate_title">alternate title</option>
    <option value="arxiv_class">arXiv category</option>
    <option value="author" data-field="author">author</option>
    <option value="author_count">author count</option>
    <option value="author_norm">author norm</option>
    <option value="bibcode">bibcode</option>
    <option value="bibgroup">bibliographic group</option>
    <option value="bibstem">bib abbrev, e.g. ApJ</option>
    <option value="book_author">book author</option>
    <option value="body">body of article</option>
    <option value="citation_count">citation count</option>
    <option value="citation_count_norm">citation count norm</option>
    <option value="citation_read_boost">citation read boost</option>
    <option value="collection">collection</option>
    <option value="comment">comment</option>
    <option value="copyright">copyright</option>
    <option value="data">data archive</option>
    <option value="database">database</option>
    <option value="date">date</option>
    <option value="doctype">doctype</option>
    <option value="doi">doi</option>
    <option value="editor">editor</option>
    <option value="eid">eid</option>
    <option value="entdate" data-default-value="[2000-01-01 TO 2010-01-01]"
      >entdate</option
    >
    <option value="entry_date">entry date</option>
    <option value="esources">esources</option>
    <option value="first-author" data-field="first-author">first author</option>
    <option value="full" data-field="full">fulltext</option>
    <option value="grant">grant</option>
    <option value="identifier">identifier</option>
    <option value="indexstamp">indexstamp</option>
    <option value="inst">inst</option>
    <option value="isbn">isbn</option>
    <option value="issn">issn</option>
    <option value="issue">issue</option>
    <option value="keyword">keyword</option>
    <option value="keyword_norm">keyword norm</option>
    <option value="keyword_schema">keyword schema</option>
    <option value="lang">lang</option>
    <option value="nedid">nedid</option>
    <option value="nedtype">nedtype</option>
    <option value="object">object</option>
    <option value="orcid">orcid</option>
    <option value="orcid_other">orcid other</option>
    <option value="orcid_pub">orcid pub</option>
    <option value="orcid_user">orcid user</option>
    <option value="page">page</option>
    <option value="page_count">page count</option>
    <option value="property">property</option>
    <option value="pub">publication full name</option>
    <option value="pub_raw">pub raw</option>
    <option value="pubdate" data-default-value="[2000-01 TO 2010-01]"
      >date published</option
    >
    <option value="read_count">read count</option>
    <option value="series">series</option>
    <option value="title">title</option>
    <option value="update_timestamp">update timestamp</option>
    <option value="vizier">vizier</option>
    <option value="volume">volume</option>
    <option value="year" data-field="year">year</option>
  </optgroup>
  <optgroup label="operators">
    <option value="citations">citations()</option>
    <option value="pos">pos()</option>
    <option value="references">references()</option>
    <option value="reviews">reviews()</option>
    <option value="similar">similar()</option>
    <option value="topn">topn()</option>
    <option value="trending">trending()</option>
    <option value="useful">useful()</option>
  </optgroup>
  <optgroup label="special characters">
    <option value="?">single wildcard: ?</option>
    <option value="*">wildcard: *</option>
    <option value="=">exact match: =</option>
  </optgroup>
  <optgroup label="technical metadata fields">
    <option value="fulltext_mtime">fulltext mtime</option>
    <option value="metadata_mtime">metadata mtime</option>
    <option value="metrics_mtime">metrics mtime</option>
    <option value="nonbib_mtime">nonbib mtime</option>
    <option value="orcid_mtime">orcid mtime</option>
  </optgroup>
</select>
